body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body {
    position: relative;
    height: 100vh;
}

.bulb {
    width: 220px;
    height: 400px;
    background-image: url(../img/bulb.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.light {
    display: inline-block;
    margin-left: 4em;
    width: 140em;
    height: 140em;
    text-align: center;
    font-size: 1.5px;
    border: none;
    border-radius: 70em;
    animation-name: girlianda;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes girlianda {
    0% {
        background-color: blue;
        box-shadow: 0px 0px 200px 10px blue;
        opacity: 1;
    }
    33% {
        background-color: red;
        box-shadow: 0px 0px 200px 10px red;
        opacity: 1;
    }
    100% {
        background-color: green;
        box-shadow: 0px 0px 200px 10px green;
        opacity: 1;
    }
}

.battery {
    display: inline-block;
    width: 400px;
    height: 180px;
    border: 20px solid #333;
    border-radius: 10px;
    position: relative;
    animation-name: battery;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.battery::after {
    content: '';
    width: 20px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(200%, -50%);
    background-color: #333;
}
.battery::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes battery {
    0% {
        background-color: rgb(235, 195, 18);
    }
    25% {
        background-color: rgb(159, 235, 18);
    }
    50% {
        background-color: rgb(18, 235, 170);
    }
    75% {
        background-color: rgb(18, 119, 235);
    }
    100% {
        background-color: rgb(137, 18, 235);
    }
}
